/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11-Nov-2016, 16:09:42
    Author     : Ryan.Blake
*/


#product_name{
    margin:0;
    line-height:1;
}

.howtos {

    background: #fff;
    margin-bottom:6px;

    .entry-content p{
        font-size:14px;
    }    
    .howtos {

        p.how-to-image-holder{
            height: 308px;
            overflow: hidden;
        }
    }    
}



.how-to-holder {

    padding:10px;
    text-align:left;
    h6{
        font-size: 1.125rem;
        font-family: 'CeraPRO-Medium';
        a{
            color:$brand-color;
        }
    }
}

.howto_widget{

    header{
        height:310px;
    }

    .columns{
        margin-top: 10px;
    }

}


#howto-tabs {


    .tabs-title{

        width:50%;
        text-align: center;
        border-right:1px solid #e1e1e1;
        border-top:1px solid #e1e1e1;
        height:50px;

        a{
            color:$brand-color;
        }

    }    


    span{
        border:0;
        line-height: 50px;
        text-transform: uppercase;
        margin: 0;
        padding:0;
    }      

}


.tabs-content{ 

    .arrow{
        text-indent: 20px;
        margin: 0 0 10px 0;
    }

    .product-image img{
        height: 100px;
        width: 100px;
        margin: 0 0 10px 0;
        background: #ddd;
    }              

}

.related-guides{
    
        list-style: outside none none;
        margin: 0;
        text-transform: uppercase;
    
        li{
                @include dotted-border-bottom(#1a2433);
                a{
                    color:$brand-color;
                }
                &last{
                    a {
                        border:0;
                    }
                }
        }
}
/**
* Small & Up Styles
*/
@media #{$small-up} {

    #fill-me-up{
        top:0;
           height: 100%;
        left:0;
        position: fixed ! important;
        width:80%;
        background: #fff;
        z-index: 99999;
        padding: 0 60px 0 50px;
        border-right:1px solid #e1e1e1;
        overflow-y:auto;
        
        .add-to-basket{
            font-size:25px;
            width:100%;
            height:50px;
            background: rgb(229, 111, 99) none repeat scroll 0% 0%; 
            color: rgb(255, 255, 255); 
            border: 0px none; 
            text-transform: uppercase; 
            padding: 4px 16px;
            margin:20px 0;
            text-transform: uppercase;
        }
        
        .brand-bg{
            
 
            display: inline-block;
            margin: 10px 0;
            padding: 10px;
        }
        
        
    }
    
    .sq-border{
        display:none;
    }
    
    .step-desc-detail{
        position: relative; 
        right: -10px;
    }    

    #howto-tabs {

        .tabs-title {
            border-right: 1px solid #e1e1e1;
            border-top: 1px solid #e1e1e1;
            height: 50px;
            text-align: left;
            width: 100%;
        }

        .tri {
            border-color: #000000 transparent transparent;
            border-style: solid;
            border-width: 8px 6px 0;
            float: right;
            height: 0;
            margin: -29px 14px 0 0!important;
            width: 0;
        }          

    }        


    .steps-inner{
        background: #fff;
    }

    .steps-out-most{
        margin:10px 0;
        background: transparent url(../images/bg.png) repeat scroll 0% 0%; 
        padding: 27px 40px;
    }



}


#how-to-desc-mobile{
    clear:none;
}



/**
* Small Up
*/
@media #{$small-up} {

    #how-to-image-con img{
        width: 100%
    }    


    .step-group-images{
        text-align: center;
        padding-left: 0;
        padding-right:0;     
        border:1px solid #e1e1e1;
    }


    .step-info{
    margin: 20px 0;
    overflow: hidden;
    padding: 0 20px;
        
        h5,p{
            margin:0;
        }
        
    }

    
}

/**
* Small Only
*/
@media #{$small-only} {


    .top-meta{
        
        display:block;
        margin:7px 0;
    }
    
    #how-to-image-con{
        padding-left:0;
        padding-right:0;
    }


    #howto-tabs {


        .tabs-title{

            width:50%;
            text-align: center;
            border-right:0;
            border-top:0;
            height:50px;


        }    


        .notes{
            border-top:1px solid #e1e1e1;
        }


    }    


}
/**
* Medium & Up Styles
*/
@media #{$medium-up} {


    .top-meta{

        display:inline-block;
        margin:10px 0;
    }

}

/**
* Medium Only
*/
@media #{$medium-only} {

    .step-group-images{
        margin: 0 auto;
        float:none!important;
    }


}


/**
* Large & Up Styles
*/
@media #{$large-up} {

    #fill-me-up{
        top:0;
        height: 100%;
        overflow-y:auto;
        left:0;
        position: fixed ! important;
        width:35%;
        background: #fff;
    }
    
    
    
    .sq-border{
        display: block;
    }
    
    .step-desc-detail{
        position: relative; 
        right: 35px;
    }  
    
    .step-info{
        padding:0px;
        
    }    
    
    .steps-inner{
        padding:20px;
    }    

    .step-group-images{
        text-align: center;
        border: 1px solid #e1e1e1;
        padding-bottom: 30px;
        padding-top: 30px;
        text-align: center;     

    }    
    
        
    /*.swiper-button-next ,.swiper-button-prev{
        display:none;
    }*/
    
 
    
    #result div.steps-out-most{
        margin:auto;
        background: #fff; 
        padding-left: 0.9375rem;
        padding-right: 0.9375rem;
        padding-top: 0;
        padding-bottom: 0;
    }    

    .steps-outter{
        margin: 0;
        background: transparent url(../images/bg.png) repeat scroll 0% 0%; 
        padding: 27px 40px;
    }



    #how-to-image-con img{
        width: auto;
    }  



    #howto-tabs {


        
        .tabs-title{

            width:50%;
            text-align: center;
            border-right:1px solid #e1e1e1;
            border-top:1px solid #e1e1e1;
            height:50px;


        }    




    }




}

/**
* Large Only
*/
@media #{$xlarge-only} {


}


/**
* xLarge & Up Styles
*/
@media #{$xlarge-up} {


}

/**
* xLarge Only
*/
@media #{$xlarge-only} {


}


/**
* xLarge & Up Styles
*/
@media #{$xxlarge-up} {


}