/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11-Nov-2016, 16:31:56
    Author     : Ryan.Blake
*/


.cat-desc {
    
    
    h2{
        color: $brand-color;
        font-family: "CeraPRO-Regular";
        font-weight: normal;        
    }
    
    .search-container {
        
        background:transparent;
        padding-top:0;
        
        form{

            border:1px solid #ccc;
            position: static;
        }           
        input.search-field {
            background-color: transparent;
            height: 100%;
            position: relative;
            vertical-align: top;
            width: 70%;
        }
    } 
    
}

.search-page-select{
    
    margin-top:20px;
    
    .columns{
        padding:11px 0;
    }
    
    div{
        border-top:1px solid $border;
    }
    
    a{
        color:$black;
        font-size:$font-size-standard;
        &.active{
            color:$brand-color;
        }
        
    }
    
}
.search-container 
{
    .search-field{
    background: transparent none repeat scroll 0% 0%;
    }
}

.search-page #second-band h1.widgettitle ,.search-page .widgettitle ,.search-page .upw-before{
    display:none;
}

.search-page #second-band{
      padding-top: 20px;
}
/**
* Small & Up Styles
*/
@include breakpoint(small up) {
    
    
    .product-list-container #inner-content-product-list{
        padding: 35px 0 0 0;
    }
    
    
    #main {
        
        
        .small-text-center p{
            //margin: 20px;
            text-align: left;
        }        
        
        > .row{
            margin-bottom:30px;
        }
    }
    
    
    .menu > li > a {
        padding: 0.7rem 1rem;
        
    }    
    
    .vertical{
        
        a{
            overflow: hidden;
        }
        
    }
    
    
    div.cat-desc{
        padding:0;
        margin:0;
        
        
        nav{
            padding:10px 0 0 0;
        }
        
        .search-container {
            p{
                
                padding: 0;
                margin:15px 0;
                
            }
        }
        
    }
    

    
}

/**
* Small Only
*/
@include breakpoint(small only) {
    
    
}
/**
* Medium & Up Styles
*/
@include breakpoint(medium up){

    
}

/**
* Medium Only
*/
@include breakpoint(medium only){
    

}


/**
* Large & Up Styles
*/
@include breakpoint(large up){


    
}

/**
* Large Only
*/
@include breakpoint(xlarge only){
    
    
}


/**
* xLarge & Up Styles
*/
@include breakpoint(xlarge up){

    
}

/**
* xLarge Only
*/
@include breakpoint(xlarge only){
    
    
}


/**
* xLarge & Up Styles
*/
@include breakpoint(xxlarge up){

    
}    