/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11-Nov-2016, 15:25:06
    Author     : Ryan.Blake
*/
/* Liams aution/watch styles  */
/* Liams home styles  */
/*|L*/
.add-to-basket {
  background: #EA516C;
  border: none;
  color: white;
  font-family: 'CeraPRO-Medium';
  font-size: 1.2rem;
  padding: 0.6rem 1rem; }

#logo {
  margin: 15px 0 10px 0; }

.header-outter {
  background: #fff;
  border-bottom: 0.125rem solid #00bcb4;
  z-index: 99999999;
  position: relative; }

.search-container {
  text-align: center;
  background: #eaece7;
  display: none;
  height: 60px;
  padding-top: 15px; }
  .search-container img {
    float: left;
    height: 20px;
    left: -7px;
    margin-bottom: 2px;
    margin-left: 0;
    margin-top: 2px;
    position: relative;
    vertical-align: top;
    z-index: 99; }
  .search-container form {
    background: white none repeat scroll 0 0;
    border-radius: 15px;
    display: inline-block;
    z-index: 900; }

[type="text"]:focus, [type="password"]:focus, [type="date"]:focus, [type="datetime"]:focus, [type="datetime-local"]:focus, [type="month"]:focus, [type="week"]:focus, [type="email"]:focus, [type="number"]:focus, [type="search"]:focus, [type="tel"]:focus, [type="time"]:focus, [type="url"]:focus, [type="color"]:focus, textarea:focus {
  box-shadow: none;
  border: 0; }

.site-top-bar {
  background: #00bcb4; }
  .site-top-bar strong {
    color: #fefefe;
    line-height: 2.375rem;
    font-weight: normal;
    font-size: 1rem; }
  .site-top-bar li {
    color: #fff; }
    .site-top-bar li a {
      font-size: 1rem;
      display: inline-block;
      padding-left: 1px;
      padding-right: 0px;
      text-transform: uppercase;
      color: #fff; }
      .site-top-bar li a:hover {
        text-decoration: underline; }
  .site-top-bar .tel-number {
    padding-left: 30px;
    background: transparent url(../images/Icon_Phone_White.png) no-repeat scroll 0px center; }
  .site-top-bar .account {
    padding-left: 23px;
    background: transparent url(../images/Icon_User_White.png) no-repeat scroll 0 center; }

/*
 search start
*/
#search-cancel {
  background: transparent url("../images/Btn_Cancel_Black.png") no-repeat scroll 10px center;
  color: white;
  cursor: pointer;
  color: #0a0a0a;
  cursor: pointer;
  text-align: left;
  text-indent: 20px;
  height: 23px; }
  #search-cancel:hover {
    background-image: url(../images/Btn_Cancel_hover.png);
    color: #e95968; }

input.search-field {
  background-color: transparent;
  height: 100%;
  position: relative;
  vertical-align: top;
  width: 100%; }

.typeahead {
  float: left;
  background-color: transparent;
  border-bottom: none !important;
  border-image: none !important;
  border-left: medium none !important;
  border-right: medium none !important;
  border-top: medium none !important;
  box-shadow: none;
  color: #000;
  height: 24px;
  margin: 0 0 0 0;
  padding: 0;
  top: 3px; }

.typeahead::-webkit-input-placeholder {
  color: #000;
  opacity: 1; }

.typeahead:-moz-placeholder {
  /* Firefox 18- */
  color: #000;
  opacity: 1; }

.typeahead::-moz-placeholder {
  /* Firefox 19+ */
  color: #000;
  opacity: 1;
  text-transform: uppercase; }

.typeahead :-ms-input-placeholder {
  color: #000;
  opacity: 1; }

.tt-suggestion img {
  display: none; }
.tt-suggestion:hover {
  color: #e95968; }

.tt-dataset {
  background: transparent url("/wp-content/themes/Ibiza-Theme/assets/images/border.gif") repeat-x scroll left bottom;
  margin-bottom: 14px;
  padding-bottom: 10px;
  width: 121%; }

.border-bottom, .sq-border {
  background: transparent url("/wp-content/themes/Ibiza-Theme/assets/images/border.gif") repeat-x scroll left bottom; }

.twitter-typeahead {
  width: 80%;
  float: left; }

.breadcrumbs {
  margin: 0.9375rem 0 0.46875rem 0; }
  .breadcrumbs li {
    text-transform: capitalize;
    font-family: 'CeraPRO-Regular';
    font-size: 1rem; }
    .breadcrumbs li a {
      color: #192332; }
    .breadcrumbs li:last-child a {
      color: black; }
  .breadcrumbs li:not(:last-child)::after {
    color: #0a0a0a;
    content: ">"; }

.nav-menu-icon {
  height: 264px;
  height: 100%;
  overflow: hidden; }
  .nav-menu-icon div {
    font-size: 12px;
    padding: 25% 0; }
  .nav-menu-icon img {
    display: inline-block; }
  .nav-menu-icon strong {
    display: block;
    margin: 10px 0;
    color: #00bcb4; }

.remove-filter {
  background: transparent url("../images/Btn_Cancel_Green.png") no-repeat scroll 0 0;
  display: inline-block;
  height: 18px;
  line-height: 15px;
  text-indent: 25px;
  width: 100%; }
  .remove-filter:hover {
    background-image: url(../images/Btn_Cancel_hover.png);
    color: #e95968; }

select {
  background-image: url(../images/Btn_DropDownMenu_Green.png);
  background-size: 26px 26px;
  height: 1.9375rem;
  padding: 2px 2px 2px 2px;
  background-position: right top;
  text-transform: uppercase; }

#top-bar-menu .menu > li > a {
  padding-left: 0;
  padding-right: 45%; }

.menu .active > a {
  background: transparent; }

#my-account-button {
  display: inline-block;
  background: #00bcb4;
  color: #fff;
  padding: 12px 25px !important;
  margin-bottom: 20px; }

#signout-button {
  color: #00bcb4; }

.account-link-con {
  position: relative; }
  .account-link-con .sp-box {
    top: 30px; }
  .account-link-con:hover {
    text-decoration: underline; }
    .account-link-con:hover .sp-box {
      display: block; }

.sp-box {
  position: absolute;
  z-index: 999999990;
  text-align: center;
  left: -50px;
  display: none; }
  .sp-box .my-basket p {
    color: #000; }
  .sp-box .my-basket-link {
    background: #E95968;
    color: #fff;
    display: block;
    padding: 10px; }

.header-tri {
  border-color: transparent transparent #eaece7;
  border-style: solid;
  border-width: 0 10px 15px;
  height: 0;
  margin: 0 auto;
  text-align: center;
  width: 14px; }

/*
search end
*/
/**
* Small & Up Styles
*/
@media screen {
  .header-outter {
    max-height: 81px; } }
/**
* Small Only
*/
@media screen and (max-width: 39.9375em) {
  .twitter-typeahead {
    position: static !important; }

  .site-top-bar li a {
    background-position: right center !important;
    position: relative; }

  .tt-menu {
    top: 173px !important;
    background: white none repeat scroll 0 0;
    text-align: left;
    width: 100%;
    z-index: 100;
    padding: 15px; }
    .tt-menu p {
      cursor: pointer;
      font-size: 75%;
      margin-bottom: 5px;
      overflow: hidden;
      position: relative; }
    .tt-menu h5 {
      clear: both;
      text-indent: 5px;
      color: #000;
      font-size: 75%;
      font-family: 'CeraPRO-Bold'; }
    .tt-menu strong {
      font-weight: normal; }
    .tt-menu a {
      color: #00bcb4;
      text-indent: 5px; } }
/**
* Medium & Up Styles
*/
@media screen and (min-width: 40em) {
  .search-container {
    position: relative; }

  .search-container form {
    height: auto;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    right: 0; }

  .header-container {
    margin: 2px 0 0; }
    .header-container a {
      font-size: 1.125rem;
      font-family: 'CeraPRO-Medium'; }

  .tt-menu {
    background: white none repeat scroll 0 0;
    margin: 5px -25px 0;
    position: static !important;
    right: 0;
    text-align: left;
    top: 100%;
    width: 100%;
    z-index: 100;
    margin-top: 40px; }
    .tt-menu p {
      cursor: pointer;
      font-size: 75%;
      margin-bottom: 5px;
      overflow: hidden;
      position: relative; }
    .tt-menu h5 {
      clear: both;
      text-indent: 5px;
      color: #000;
      font-size: 75%;
      font-family: 'CeraPRO-Bold'; }
    .tt-menu strong {
      font-weight: normal; }
    .tt-menu a {
      color: #00bcb4;
      text-indent: 5px; } }
/**
* Medium Only
*/
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .site-top-bar li a {
    background-position: right center !important;
    position: relative; } }
/**
* Large & Up Styles
*/
@media screen and (min-width: 64em) {
  .header-outter {
    height: 81px !important; }

  .search-container form {
    position: absolute; }

  .site-top-bar li a {
    padding-left: 1px;
    padding-right: 0px !important; } }
/**
* Large Only
*/
/**
* xLarge & Up Styles
*/
/**
* xLarge Only
*/
/**
* xLarge & Up Styles
*/

/*# sourceMappingURL=header.css.map */
